body{
     margin:auto;
	 padding:0;
	 width: 100%;
     max-width:2500px;
     overflow:auto;
     height:100%;
}

@font-face {
   font-family: NEOTERIC;
   src: url('fonts/NEOTERIC.ttf');
}

@font-face {
   font-family: ABOVE;
   src: url('fonts/ABOVE.ttf');
}

#navbar{
	 position: fixed;
	 background-size:100%;
	 overflow:hidden;
	 height:35px;
     width: 100%;
	 box-shadow: 0px 0px 50px #000000;
	 z-index:85;
     background-color:black;
     margin-top: 50px;
     text-align: center;
    padding-top: 5px;
}

#navbar-page{
	 position: fixed;
	 background-size:100%;
	 overflow:hidden;
	 height:25px;
     width: 100%;
	 box-shadow: 0px 0px 50px #000000;
	 z-index:85;
     background-color:#1C2833;
     margin-top: 89px;
     text-align: center;
}

#navlist{
	 position:relative;
     display:inline-flex;
	 color:white;
	 font-family:ABOVE;
     list-style: none; 
     font-size: 25px;
     width:100%;
     top:-19px;
     text-align: center;
    padding-left: 260px;
}

#navlist-page{
	 position:relative;
     display:inline-flex;
	 color:white;
	 font-family:NEOTERIC;
     list-style: none; 
     font-size: 20px;
     width:100%;
     top:-19px;
     text-align: center;
    padding-left: 260px;
}

a.menulink:link,
a.menulink:visited{
	 color:white;
	 text-decoration:none;
     padding-left: 80px;
     padding-right: 80px;
     text-align: center;
}

#active{
    color:#70A9AC  ;
}

.course-title{
    text-align: center;
    font-family: NEOTERIC;
    color: white;
    font-size: 2.3rem;
    margin: 0px;
}

.course{
    background-color: black;
    position: fixed;
    overflow:hidden;
    margin:auto;
    height:50px;
    width: 100%;
    max-width:2500px;
    z-index:99;
}

.main{
	 padding-top: 100px;
	 width:100%;
	 overflow:hidden;
}

.colour-block {
  background:gray;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#fff;
}

.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#40639B;
}

.arrow-down{
  height:100px;
}
.arrow-down:before {
  content: "";
  position:absolute;
  left:0px;
  width:50%;
  height:100px;
  background: linear-gradient(to left bottom, gray 49%, #fff 50%);
}
.arrow-down:after {
  content: "";
  position:absolute;
  right:0px;
  width:50%;
  height:100px;
  background: linear-gradient(to right bottom, gray 49%, #fff 50%);
}


.arrow-up{
  height:100px;
}
.arrow-up:before {
  content: "";
  position:absolute;
  left:0px;
  width:50%;
  height:100px;
  background: linear-gradient(to right bottom,white 49%, gray 50%);
}
.arrow-up:after {
  content: "";
  position:absolute;
  right:0px;
  width:50%;
  height:100px;
  background: linear-gradient(to left bottom, white 49%, gray 50%);
}

.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
     border-color: #40639B;
	display: flex; 
  padding: 0.5em;
	width: 100%;
}
@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 30%;
  }
}

.list-content {
    border-style: dashed;
    border-color: #40639B;
    display: flex;
    flex-direction: column;
    padding: 3em;
    width: 100%;
}
.list-content p {
	flex: 1 0 auto;
}

.footer{
    overflow: hidden;
    background-color: black; 
    bottom: 0; 
    width: 100%;
	background-size:100%;
    line-height: 1.3em; 
	color:white;
    text-align: center;
}

hr{
    text-align: center;
}


h1{
    text-align: center;
}

p {
  font-size:20px;
  font-family:'wire one', serif;
}

.header{
	font-family:NEOTERIC;
    font-size: 5rem;
    margin-bottom: 0px;
}

.header2{
	font-family:NEOTERIC;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.desc{
    padding-left: 2.5rem;
    display: none;
}

a.link:link,
a.link:visited{
    text-decoration:none;
    color: white;
    
}

.source{
    font-size: 1rem;
}

.show:hover{
    color:#922B21;
}

.home-title{
    font-size: 5rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: NEOTERIC;
}

.home{
    font-size: 3rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px
}

.container{
    position: fixed;
    margin-top: 10%;
    width: 100%;
}

a.title:link,
a.title:visited{
     color:white;
	 text-decoration:none;
}

.showdesc{
    padding-left: 2.5rem;
    display: none;
}

.showdesc:hover{
    color:#922B21;
}
